/* todo make responsive, but the notifications in core aren't responsive :( see https://core.trac.wordpress.org/ticket/32194 */
/* todo use rems? */

.idi-active,
#idi-container.idi-active,
#idi-instructions.idi-active,
#idi-search-results.idi-active {
	display: block;
}

#idi-container {
	display: none;
}

	#idi-dialog {
		padding: 2em;
	}

		#idi-introduction {
			text-align: center;
		}

		#idi-search-field {
			width: 100%;

			/* todo rounded corners, maybe a magnifying glass icon */
		}

		#idi-instructions {
			display: none;
			font-size: .9em;
			font-style: italic;
		}

			#idi-instructions code {
				font-size: .9em;
			}

		#idi-search-results {
			display: none;
		}

			#idi-search-results li {
				display: list-item;
				list-style-type: disc;
				list-style-position: inside;
				font-size: 1.1em;
			}

				#idi-search-results li a {
					text-decoration: none;
				}
