.idi-active,
#idi-container.idi-active,
#idi-instructions.idi-active,
#idi-search-results.idi-active {
	display: block;
}

#idi-container {
	display: none;
}

	#idi-dialog {
		padding: 2em;
	}

		#idi-introduction {
			text-align: center;
		}

		#idi-search-field {
			width: 100%;
			padding: 6px 5px 3px 10px;
		}

		#idi-instructions {
			display: none;
			font-size: .9em;
			font-style: italic;
		}

			#idi-instructions code {
				font-size: .9em;
			}

		#idi-search-results {
			display: none;
			margin-bottom: 0;
		}

			#idi-search-results li {
				display: list-item;
				margin-left: 1em;
				padding: 2px 5px 0 10px;
				border-radius: 10px;
				list-style-type: disc;
				font-size: 1.1em;
			}

				#idi-search-results li:last-child {
					margin-bottom: 0;
				}

				#idi-search-results li.idi-active {
					background-color: #DFEEFF;
				}

				#idi-search-results li a {
					text-decoration: none;
				}
