/* todo doh, all these need to change to BEMish convention :| */

/*
 * LoadingView.
 */
.qni-loading .components-spinner {
	/* todo change to `is-loading` ? probably. does G already have a class for that? */
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}


/*
 * MainView.
 */
#qni-instructions {
	font-style: italic;
}

#qni-search-results {
	margin-top: 20px;
	margin-bottom: 0;
}

#qni-search-results li {
	display: flex;
	padding: 3px 10px;
	border-radius: 10px;
	font-size: 1.1em;
}

/* Simulate `list-style: disc` because that property can't apply to a `display: flex` list item. */
#qni-search-results li::before {
	position: relative;
	left: -1px;
	margin-right: 5px;
	content: "\2022";
}

#qni-search-results li:last-child {
	margin-bottom: 0;
}

#qni-search-results li.qni-active-result {
	background-color: #DFEEFF;
}

#qni-search-results li a {
	text-decoration: none;
}

.qni-result-title {
	flex-basis: 100%;
}

.qni-link-type {
	flex-basis: 100px;
	text-align: right;
}


/*
 * ActiveUrlPreview.
 *
 * The Modal that contains most of the markup creates its own div at the root of the DOM, so the result preview is
 * the only thing that actually gets rendered in the root container.
 */
#qni-container {
	position: fixed;
	bottom: 0;
	z-index: 999999;
}

#qni-result-preview {
	margin-top: 20px;
	padding: 6px 12px;
	border-radius: 7px;
	font-style: italic;
	background-color: #D7E1EC;
	color: #424242;
}
