/* todo a lot of this can be removed b/c no longer needed, need to audit line by line and only keep what's needed */

#qni-instructions {
	font-style: italic;
}

#qni-search-results {
	margin-top: 20px;
	margin-bottom: 0;
}

	#qni-search-results li {
		display: list-item;
		margin-left: 1em;
		padding: 2px 5px 0 10px;
		border-radius: 10px;
		list-style-type: disc;
		font-size: 1.1em;
	}

		#qni-search-results li:last-child {
			margin-bottom: 0;
		}

		#qni-search-results li.qni-active-result {
			background-color: #DFEEFF;
		}

		#qni-search-results li a {
			text-decoration: none;
		}

		.qni-link-type {
			position: absolute;
			right: 25px;
			/* todo use Grid or Flex instead, otherwise long titles will overlap this */
		}

		.qni-result-preview {
			margin-top: 20px;
			font-style: italic;
		}
