@import '../_partials.scss';

.qni-main {
	&.is-loading .components-spinner {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
}

body.wp-customizer.modal-open .components-modal__screen-overlay {
	z-index: $modal-z-index;
}

#qni-instructions {
	margin-top: .5em;
	font-style: italic;
}
