@import '../_partials.scss';

.qni-main {
	&.is-loading .components-spinner {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.notice {
		margin-top: 1em;

		div {
			margin-bottom: 0.5em
		}
	}
}

body.wp-customizer.modal-open .components-modal__screen-overlay {
	z-index: $modal-z-index;
}
